In [17]:
import pandas as pd
import os

In [18]:
os.getcwd()

'/home/shiwam/ceu-ds-project-groupB-2026/Gret tit'

In [23]:
path_to_folder = '/mnt/c/Users/user/Downloads/great tit'
file_path = os.path.join(path_to_folder,'gretit_cleaned_europe_only.csv')
print(file_path)

/mnt/c/Users/user/Downloads/great tit/gretit_cleaned_europe_only.csv

In [26]:
# We use sep='\t' because eBird files are Tab-Separated
# We use nrows=5 to just grab a tiny sample
try:
    df = pd.read_csv(file_path, sep=',')

    # This makes the output "beautiful" in the console
    pd.set_option('display.max_columns', None)  # Show all columns
    pd.set_option('display.width', 1000)        # Don't wrap lines
    
    print("---eBird Data Preview---")
    print(df.head(20))
    
    print("\n--- Column Names (So you know what you can filter by) ---")
    print(df.columns.tolist())

except FileNotFoundError:
    print("Error: The file wasn't found. Double-check the file path!")

---eBird Data Preview---
   SCIENTIFIC NAME  OBSERVATION COUNT COUNTRY CODE                                           LOCALITY   LATITUDE  LONGITUDE OBSERVATION DATE SAMPLING EVENT IDENTIFIER OBSERVATION TYPE
0      Parus major                3.0           AD                                Canillo Ski Station  42.555799   1.617608       2018-04-05                 S44289207       Incidental
1      Parus major                1.0           AD                       by S. side of CG2 in Canillo  42.568000   1.603400       2018-06-11                 S59124583       Incidental
2      Parus major                1.0           AD                                Canillo Ski Station  42.555799   1.617608       2019-11-17                 S61522924        Traveling
3      Parus major                1.0           AD                                      Vall d'Incles  42.585705   1.664708       2021-05-01                S275308560       Historical
4      Parus major                1.0           AD                                      Vall d'Incles  42.585705   1.664708       2021-05-01                S215685554       Historical
5      Parus major                1.0           AD                           Camí Bordes de l'Armiana  42.572693   1.601016       2021-07-31                 S92535554        Traveling
6      Parus major                2.0           AD                      Carretera de la Vall d'Incles  42.586780   1.665258       2021-07-30                 S92499000        Traveling
7      Parus major                1.0           AD                                      Vall D´Incles  42.602110   1.687084       2022-06-06                S112388975        Traveling
8      Parus major                1.0           AD                                Canillo Ski Station  42.555799   1.617608       2022-06-17                S113654702        Traveling
9      Parus major                2.0           AD                         Canillo, AD (42,58, 1,612)  42.579822   1.611715       2022-07-27                S115863795        Traveling
10     Parus major                1.0           AD                    Auto selected 42.60727, 1.71577  42.607274   1.715767       2022-08-27                S117721148        Traveling
11     Parus major                1.0           AD                        Canillo, AD (42,549, 1,579)  42.549470   1.579288       2022-08-22                S117424717        Traveling
12     Parus major                1.0           AD                    Auto selected 42.60736, 1.71605  42.607364   1.716046       2022-08-28                S120190920        Traveling
13     Parus major                3.0           AD                    Auto selected 42.60727, 1.71577  42.607274   1.715767       2022-08-28                S117721194        Traveling
14     Parus major                9.0           AD                                    Valle de Incles  42.601832   1.703229       2022-09-22                S119420706        Traveling
15     Parus major                2.0           AD                               Mirador Roc del Quer  42.570882   1.587301       2022-09-22                S119420722        Traveling
16     Parus major                3.0           AD  18 Avinguda Sant Joan de Caselles, Canillo, Ca...  42.565023   1.597589       2022-11-11                S122219052        Traveling
17     Parus major                3.0           AD                                          Els Plans  42.580760   1.632959       2022-12-28                S124785822        Traveling
18     Parus major                3.0           AD                                          Els Plans  42.580760   1.632959       2022-12-28                S124850327        Traveling
19     Parus major                2.0           AD                                          Grau Roig  42.531296   1.697323       2018-07-18                 S47280309        Traveling

--- Column Names (So you know what you can filter by) ---
['SCIENTIFIC NAME', 'OBSERVATION COUNT', 'COUNTRY CODE', 'LOCALITY', 'LATITUDE', 'LONGITUDE', 'OBSERVATION DATE', 'SAMPLING EVENT IDENTIFIER', 'OBSERVATION TYPE']

In [27]:
df.shape

(1360446, 9)

In [28]:
df.dtypes

SCIENTIFIC NAME                  str
OBSERVATION COUNT            float64
COUNTRY CODE                     str
LOCALITY                         str
LATITUDE                     float64
LONGITUDE                    float64
OBSERVATION DATE                 str
SAMPLING EVENT IDENTIFIER        str
OBSERVATION TYPE                 str
dtype: object

Converting the date in pandas object datetime

In [29]:
# Convert the 'strings' into actual date objects
df['OBSERVATION DATE'] = pd.to_datetime(df['OBSERVATION DATE'])

In [35]:
# Create helper columns for your year-by-year analysis
df['YEAR'] = df['OBSERVATION DATE'].dt.year
df['MONTH'] = df['OBSERVATION DATE'].dt.month

In [36]:
df.head()

  SCIENTIFIC NAME  OBSERVATION COUNT COUNTRY CODE                      LOCALITY   LATITUDE  LONGITUDE OBSERVATION DATE SAMPLING EVENT IDENTIFIER OBSERVATION TYPE  YEAR  MONTH
0     Parus major                3.0           AD           Canillo Ski Station  42.555799   1.617608       2018-04-05                 S44289207       Incidental  2018      4
1     Parus major                1.0           AD  by S. side of CG2 in Canillo  42.568000   1.603400       2018-06-11                 S59124583       Incidental  2018      6
2     Parus major                1.0           AD           Canillo Ski Station  42.555799   1.617608       2019-11-17                 S61522924        Traveling  2019     11
3     Parus major                1.0           AD                 Vall d'Incles  42.585705   1.664708       2021-05-01                S275308560       Historical  2021      5
4     Parus major                1.0           AD                 Vall d'Incles  42.585705   1.664708       2021-05-01                S215685554       Historical  2021      5

In [38]:
# Sort from oldest to newest sightings
df = df.sort_values(by=['OBSERVATION DATE']).reset_index(drop=True)

In [39]:
df.head()

  SCIENTIFIC NAME  OBSERVATION COUNT COUNTRY CODE              LOCALITY   LATITUDE  LONGITUDE OBSERVATION DATE SAMPLING EVENT IDENTIFIER OBSERVATION TYPE  YEAR  MONTH
0     Parus major                1.0           NO      Flekkerøy--Berge  58.075198   7.978821       2018-01-01                 S42155305       Historical  2018      1
1     Parus major                1.0           SE                Gärdet  59.347822  18.096542       2018-01-01                 S41624313       Stationary  2018      1
2     Parus major                5.0           SE  Matningen S Säbysjön  59.423084  17.872342       2018-01-01                 S47493977       Incidental  2018      1
3     Parus major                6.0           GB                Walcot  52.703139  -2.604058       2018-01-01                 S53881074       Stationary  2018      1
4     Parus major                1.0           SE                Gärdet  59.347822  18.096542       2018-01-01                 S41492070       Stationary  2018      1

We can now analyze them by seasons because of months and obviously with diffrent years

In [ ]:
import folium
from folium.plugins import HeatMap


# Create a folder to store your maps
if not os.path.exists('migration_maps'):
    os.makedirs('migration_maps')

target_year = 2021

# Loop through the spring migration months (March to June)
for month in range(3, 7):
    # 1. Filter the main 'df' for the specific month and year
    df_month = df[(df['YEAR'] == target_year) & (df['MONTH'] == month)]
    
    if df_month.empty:
        print(f"No data found for month {month}, skipping...")
        continue

    # 2. Initialize the map centered on Europe
    m = folium.Map(location=[50, 10], zoom_start=4, tiles='cartodbpositron')

    # 3. Prepare coordinates and weights (Observation Count)
    # We use .values.tolist() for high-performance data injection into Folium
    heat_data = df_month[['LATITUDE', 'LONGITUDE', 'OBSERVATION COUNT']].values.tolist()

    # 4. Add the HeatMap layer
    # Adjust radius to make the "glow" larger or smaller based on density
    HeatMap(heat_data, radius=15, blur=10, min_opacity=0.5).add_to(m)

    # 5. Save the map
    file_name = f'migration_maps/great_tit_{target_year}_{month:02d}.html'
    m.save(file_name)
    print(f"Generated map: {file_name} ({len(df_month)} sightings)")

Generated map: migration_maps/great_tit_2021_03.html (42230 sightings)
Generated map: migration_maps/great_tit_2021_04.html (48701 sightings)
Generated map: migration_maps/great_tit_2021_05.html (40240 sightings)
Generated map: migration_maps/great_tit_2021_06.html (20603 sightings)

In [43]:
# 1. Calculate the average Latitude and Longitude for each month
# This finds the "geographic center" of the Great Tit population per month
trajectory_df = df.groupby(['YEAR', 'MONTH'])[['LATITUDE', 'LONGITUDE']].mean().reset_index()

# 2. Filter for a specific year to see that year's path
path_2021 = trajectory_df[trajectory_df['YEAR'] == 2021]

In [44]:
trajectory_df

    YEAR  MONTH   LATITUDE  LONGITUDE
0   2018      1  47.855535   3.445401
1   2018      2  47.318937   3.114228
2   2018      3  47.608192   3.799604
3   2018      4  47.430774   3.548104
4   2018      5  47.387714   4.041931
5   2018      6  48.187791   4.102649
6   2018      7  48.266082   4.306750
7   2018      8  48.437561   4.194949
8   2018      9  47.887479   4.192645
9   2018     10  48.165053   4.831230
10  2018     11  47.816954   4.055484
11  2018     12  47.784457   3.237010
12  2019      1  48.596966   3.634650
13  2019      2  48.020519   3.337266
14  2019      3  47.619163   3.688605
15  2019      4  47.824715   3.987204
16  2019      5  48.226800   4.790555
17  2019      6  48.586841   4.176978
18  2019      7  48.478081   4.150246
19  2019      8  48.530364   3.978578
20  2019      9  48.199032   4.240890
21  2019     10  48.268253   4.727914
22  2019     11  48.272571   4.452497
23  2019     12  47.764359   3.576404
24  2020      1  48.333653   4.159888
25  2020      2  47.403582   4.151758
26  2020      3  48.763672   4.989758
27  2020      4  49.000969   4.838145
28  2020      5  48.888612   4.604887
29  2020      6  48.472448   3.899260
30  2020      7  48.375775   4.245383
31  2020      8  48.220734   3.467637
32  2020      9  48.345629   3.600120
33  2020     10  48.656733   4.281652
34  2020     11  48.514348   4.068559
35  2020     12  48.618197   4.134117
36  2021      1  49.063242   4.512877
37  2021      2  48.762072   4.442504
38  2021      3  48.557083   4.270562
39  2021      4  48.590057   4.439621
40  2021      5  48.755160   4.957485
41  2021      6  48.593146   4.510549
42  2021      7  48.553092   4.662430
43  2021      8  48.510742   4.726197
44  2021      9  48.363099   5.094367
45  2021     10  48.367515   5.729099
46  2021     11  48.498710   5.366627
47  2021     12  48.212288   4.498805
48  2022      1  48.710380   4.400937
49  2022      2  48.223950   4.758151
50  2022      3  48.799258   5.029102
51  2022      4  48.165174   4.869511
52  2022      5  48.669643   5.864196
53  2022      6  49.258156   6.073578
54  2022      7  49.270283   6.007485
55  2022      8  48.750504   4.770424
56  2022      9  48.550745   5.025586
57  2022     10  48.505686   5.719844
58  2022     11  48.565308   5.226387
59  2022     12  48.485601   4.762206

In [45]:
import folium

# Create the map
m_path = folium.Map(location=[50, 10], zoom_start=4, tiles='cartodbpositron')

# Create a list of coordinates for the line (Jan -> Feb -> March...)
points = path_2021[['LATITUDE', 'LONGITUDE']].values.tolist()

# Add the trajectory line
folium.PolyLine(points, color="blue", weight=2.5, opacity=0.8).add_to(m_path)

# Add markers for each month so you can see the direction
for i, row in path_2021.iterrows():
    folium.CircleMarker(
        location=[row['LATITUDE'], row['LONGITUDE']],
        radius=5,
        popup=f"Month: {int(row['MONTH'])}",
        color='red',
        fill=True
    ).add_to(m_path)

m_path.save('great_tit_trajectory_2021.html')